<img src="https://cdn1.iconfinder.com/data/icons/sales-marketing-line/100/sales_marketing_money_pouch_-512.png"
  class="rounded text-center"
  alt=""
  routerLink="/sales"
  routerLinkActive="active"
  height="150px">
  <!-- <a class="nav-link" routerLink="/sales" routerLinkActive="active"></a> -->

<img src="https://static.thenounproject.com/png/216652-200.png"
  class="rounded text-center"
  alt=""
  routerLink="/stock"
  routerLinkActive="active"
  height="150px">
  <!-- <a class="nav-link" routerLink="/stock" routerLinkActive="active"></a> -->

<router-outlet></router-outlet>